#deck {
    width: 800px;
    justify-content: center;
    display: flex;
  }

.draggableBox {
    float: inherit;
    min-width: 147px;
    height: 225px;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #aaaaaa;
  }

.centered {
    position: absolute;
    display: flex;
    justify-content: center;
  }

.card {
    position: relative;
    color: rgb(0, 0, 0);
    margin-right: 20px;
    float:left;
}