#deck {
    width: 800px;
    justify-content:space-around;
    display: flex;
  }

#cards {
  width: 800px;
  justify-content:space-around;
  display: flex;
}

.draggableBox {
    float: inherit;
    min-width: 147px;
    height: 225px;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #aaaaaa;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.card {
    position: relative;
    color: rgb(0, 0, 0);
    float:left;
    transition: all ease-out 0.1s;
}

.card:hover {
  color: rgb(255, 0, 0);
  transform:scale(1.1);
  transition: all ease-in 0.05s;
}